.card-image-container {
  height: 150px;
}

@media (min-width: theme("screens.md")) {
  .card-image-container {
    height: 180px;
  }
}

@media (min-width: theme("screens.xl")) {
  .card-image-container {
    height: 220px;
  }
}

.fa-arrow-right-hover-effect > svg {
  transition: all 0.3s ease;
}

.fa-arrow-right-hover-effect:hover > svg {
  margin-left: 15px;
}
