@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --side-gap: max(16px, calc(calc(100% - theme("screens.xl")) / 2));
  --column-gap: 64px;
}

.main-grid {
  display: grid;
  grid-template-columns:
    var(--side-gap)
    1fr
    var(--side-gap);
}

.main-grid > * {
  grid-column: 2 / 3;
}

.main-grid-full-span {
  grid-column: 1 / 4 !important;
}

@media (min-width: theme("screens.xl")) {
  .inner-grid {
    display: grid;
    grid-template-columns:
      1fr
      1fr
      1fr;
    column-gap: var(--column-gap);
  }

  .seamless-grid {
    display: grid;
    grid-template-columns:
      var(--side-gap)
      1fr
      var(--column-gap)
      1fr
      var(--column-gap)
      1fr
      var(--side-gap);
  }
}

@media (min-width: theme("screens.md")) and (max-width: theme("screens.xl")) {
  .inner-grid {
    display: grid;
    grid-template-columns:
      1fr
      1fr;
    column-gap: var(--column-gap);
  }

  .seamless-grid {
    display: grid;
    grid-template-columns:
      var(--side-gap)
      1fr
      var(--column-gap)
      1fr
      var(--side-gap);
  }
}

@media (max-width: theme("screens.md")) {
  .inner-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .seamless-grid {
    display: grid;
    grid-template-columns:
      var(--side-gap)
      1fr
      var(--side-gap);
  }
}

.text-shadow {
  text-shadow: 0 1px 20px #000;
}
