@tailwind base;
@tailwind components;
@tailwind utilities;

.main-grid {
  --side-gap: max(16px, calc(calc(100% - theme("screens.2xl")) / 2));
  display: grid;
  grid-template-columns:
    var(--side-gap)
    1fr
    var(--side-gap);
}

.main-grid > * {
  grid-column: 2 / 3;
}

@media (min-width: theme("screens.2xl")) {
  .inner-grid {
    display: grid;
    grid-template-columns:
      1fr
      1fr
      1fr;
    column-gap: 64px;
  }
}

@media (min-width: theme("screens.lg")) and (max-width: theme("screens.2xl")) {
  .inner-grid {
    display: grid;
    grid-template-columns:
      1fr
      1fr;
    column-gap: 64px;
  }
}

@media (max-width: theme("screens.lg")) {
  .inner-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
