.team-member-details-container p {
  margin-top: 20px;
}

.team-members-slider-container .team-members-slider-controls {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: theme("colors.black");
  border: solid 1px theme("colors.customDarkGrey");
}
.team-members-slider-container .control-left {
  left: 0;
  transform: translate(-50%, -50%);
}
.team-members-slider-container .control-right {
  right: var(--side-gap);
}

@media (max-width: theme("screens.xl")) {
  .team-members-slider-container .team-members-slider-controls {
    background: transparent;
    width: 30px;
    border: none;
  }
  .team-members-slider-container .control-left {
    left: 0;
    transform: translate(-50%, -50%);
  }
  .team-members-slider-container .control-right {
    right: 0;
    transform: translate(50%, -50%);
  }
}
