@media (min-width: theme("screens.md")) and (max-width: theme("screens.xl")) {
  .search-bar-form-fields {
    display: grid;
    width: 100%;
    grid-template-columns:
      0
      1fr
      var(--column-gap)
      1fr
      0;
  }
}

@media (max-width: theme("screens.md")) {
  .search-bar-form-fields {
    display: flex;
    flex-direction: column;
  }
}

input::placeholder {
  color: theme("colors.black");
}

.search-icon {
  position: absolute;
  right: 0;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
}
