/* .wider {
  width: calc(100% + 32px);
}
.lines.wider {
  width: calc(100% + 32px);
} */

.lines {
  pointer-events: none;
  position: absolute;
  width: 100%;
  max-width: 100vw;
  bottom: 0;
  top: 0;
}

.lines .main-grid {
  height: 100%;
}

.lines-grid {
  height: 100%;
  margin: 0;
}

.lines .line-container {
  position: relative;
  height: 100%;
}

@media only screen and (max-width: 1280px) {
  .lines .line-container:nth-child(2) {
    display: none;
  }
}

.lines .line-container .guide-line {
  border-left: 1px dotted rgba(0, 0, 0, 0.05);
  width: 0;
  height: 100%;
}

.lines .line-container .guide-line:nth-child(1) {
  position: absolute;
  left: 0;
}

.lines .line-container .guide-line:nth-child(2) {
  position: absolute;
  right: 0;
}
