.card-image-container {
  height: 150px;
}

@media (min-width: theme("screens.md")) {
  .card-image-container {
    height: 180px;
  }
}

@media (min-width: theme("screens.xl")) {
  .card-image-container {
    height: 220px;
  }
}

.red-border{
  width: 0;
  background: red;
  position: absolute;
  height: 3px;
  transition: .2s;
}

.hoverButton{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .2s;
}

.card-container:hover .red-border{
  width: 100%;
}

.card-container:hover .hoverButton{
  opacity: 1;
}
