.recommendations-container {
  padding: 0 var(--side-gap);
}

.input-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.input-slider:hover {
  opacity: 1;
}

.input-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 6px;
  background: #e62b1e;
  cursor: pointer;
}

.input-slider::-moz-range-thumb {
  width: 40px;
  height: 3px;
  background: #e62b1e;
  cursor: pointer;
}
